<html>
    <head>
    </head>

    <body>
        <h2>{{message}}</h2>
        <h1>Your Trips</h1>

        <form method="POST" action="/trips/add-trips">
            <h5>Book Your Trips</h5>
            <input type="text" placeholder="Enter the city" name="title" />
            <input type="text" placeholder="Enter the image url" name="image" />
            <input type="date" placeholder="Enter the date of departure" name="departureDate" />
            <input type="date" placeholder="Enter the date of return" name="returnDate" />
            <button>Book</button>
        </form>
        <ul>
        {{#allTrips}}
            <li>
                <form method="POST" action="/trips/delete-trips">
                    <p><b>Trips to:</b> {{title}}</p>  
                    {{image}} 
                    <p><b>Date of departure:</b> {{departureDate}}</p>
                    <p><b>Date of return:</b> {{returnDate}}</p>
                    <input type='hidden' value={{id}} name="deletedId" />
                    <button>Cancel</button>
                </form>
            </li>
        {{/allTrips}}
        </ul>
        
    </body>

</html>