<html>
    <head>
    </head>

    <body>
        <header>
            <h1>TripsFinder</h1>
            <h4>Description<h4>
        </header>
        
        <main>
            <form method="POST" action="/users/signUp">
                <h4>Sign Up</h4>
                <input type="text" placeholder="Enter the username" name="username" />
                <input type="password" placeholder="Enter the password" name="password" />
                <button>Sign Up</button>
            </form>
        
        </main>
    </body>

</html>