<html>

    <head>
    </head>

    <body>
        <header>
            <h1>{{movieTitle}}</h1>
        </header>
        <section id=details>
            <img src="{{moviePosterUrl}}" style="width:30%;height:60%"/>
            <p><b>Title: </b>{{movieTitle}}</p>
            <p><b>Description: </b>{{movieDescription}}</p>
            <p><b>Genre: </b>{{movieGenre}}</p>
        </section>
    </body>

</html>