<html>

    <head>
    </head>

    <body>
        <h1>Book Your Trips</h1>
        <form method="POST" action="/add-trips">
            <input type="text" placeholder="Enter the city" name="title" />
            <input type="text" placeholder="Enter the image url" name="image" />
            <input type="date" placeholder="Enter the date of departure" name="departureDate" />
            <input type="date" placeholder="Enter the date of return" name="returnDate" />
            <button>Book</button>
        </form>
    </body>

</html>